img {
  float: right;
  width: 25%;
  height: 20%;
}
body {
  background-color: #c0c0c0
}
h1 {
  font-weight: bold;
  font-family:fantasy;
  text-align: left;
}
.jumbotron{
  padding-right: 15px;
  padding-left: : 15px;
  margin-right: auto;
  margin-left: auto;
}
.box{
border: 5px solid red;
padding: 6px;
margin: 20px;
}
.container{
  background-color: #FFFFFF;
  padding: inherit;
}
